<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$charset}" />
<title>{$lang.mimall_install_guide}</title>
<link href="templates/css/install.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{lib file=jquery-1.11.1.js}" charset="utf-8"></script>
</head>

<body>
    <div class="container">
    	<form action="index.php?done={$doing}" method="POST" id="post_form">
        <div class="top">
        <div class="wraper w">
            <div class="top-logo">
                <h3>MiMall</h3>
                <p>最专业的电商网站解决方案</p>
            </div>
            <div class="top-link">
                <ul>
                    <li><a href="#" target="_blank">官方网站</a></li>
                    <li><a href="http://demo.mimall.com/bbs" target="_blank">技术论坛</a></li>
                    <li><a href="#" target="_blank">帮助</a></li>
                    <div class="clear"></div>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
