{include file="header.html"}
<script type="text/javascript">
$(function(){
  $('#post_form').attr('target', 'post_target');
  $('#post_form').submit();
});
function show_process(html){
  $('#detail').html($('#detail').html() + html);
  var _t = $('#detail').get(0);
  _t.scrollTop = _t.scrollHeight;
}
function install_successed(){
   show_message('{$lang.install_successed}');
   $('.current').attr('class', 'succeed');
   $('.last').attr('class', 'current');
   $('#go_index').show();
   $('#go_admin').show();
   $('#initdata').show();
}
function goon_install(action, seccode)
{
   $('#__seccode__').val(seccode);
   $('#gooninstall').attr('action', action);
    setTimeout(function(){
       $('#gooninstall').submit();
    }, 81000);
}
function show_message(text){
   $('#message').html('<div class="message">' + text + '</div>').show();
}
function show_warning(text){
   $('#message').html('<div class="warning">' + text + '</div>').show();
}
</script>
<div class="main w">
	<div class="mleft pleft">
		<dl class="setpbox t1">
			<dt>安装步骤</dt>
			<dd>
				<ul>
					<li class="succeed">许可协议</li>
					<li class="succeed">环境检测</li>
					<li class="succeed">参数配置</li>
					<li class="current">正在安装</li>
					<li class="last">安装完成</li>
				</ul>
			</dd>
		</dl>
	</div>
	<div class="pright mright">
        {if $messages}
        <ul class="messages">
            {foreach from=$messages item=msg}
            <li>{$msg}</li>
            {/foreach}
        </ul>
        {/if}
		<div class="pr-title"><h3>创建MiMall数据库信息</h3></div>
		<div class="agreement2 mt10">
            <div class="text2" id="detail">
            
            </div>
            <div class="accede2 pl10" id="message"></div>
        </div>
		<div class="btn-box">
        	<input class="btn-normal" type="button" value="{$lang.prev}" onclick="window.history.go(-1);" />
			<input class="btn-normal ml10" type="button"  value="{$lang.go_index}" onclick="window.location.href='{$smarty.post.site_url}/index.php';" id="go_index" style="display:none;" />
            <input type="button" class="btn-normal ml10" value="{$lang.go_admin}" onclick="window.location.href='{$smarty.post.site_url}/admin/index.php';" id="go_admin" style="display:none;"/>
            <input type="button" class="btn-normal ml10" value="安装测试数据" onclick="window.location.href='{$smarty.post.site_url}/initdata';" id="initdata" style="display:none;"/>
		</div>
	</div>
    <div class="clear"></div>
</div>
<iframe src="about:blank" style="width:500px; height:300px;display:none;" name="post_target"></iframe>
{include file="footer.html"}