{include file="header.html"}
<div id="rightTop">
    <p>{$lang.article}</p>
    <ul class="subnav">
        <li><span>{$lang.manage}</span></li>
        <li><a class="btn1" href="index.php?app=article&amp;act=add">{$lang.add}</a></li>
    </ul>
</div>
<div class="search-form clearfix">
    <form method="get" id="formSearch">
    	  <input type="hidden" name="app" value="article" />
          {$lang.title}:
          <input class="queryInput" type="text" name="title" value="{$smarty.get.title|escape}" />
          {$lang.select_acategory}:
			<select class="querySelect" id="cate_id" name="cate_id">
			<option value="">{$lang.select_pls}</option>
			{html_options options=$parents selected=$smarty.get.cate_id}
			</select>
          <input type="submit" class="formbtn" value="{$lang.query}" />
      <!--{if $filtered}-->
      <a class="formbtn formbtn1" href="index.php?app=article">{$lang.cancel_query}</a>
      <!--{/if}-->
    </form>
</div>
<div id="flexigrid"></div>
<script type="text/javascript">
$(function(){
    $("#flexigrid").flexigrid({
    	url: 'index.php?app=article&act=get_xml&'+$("#formSearch").serialize(),
    	colModel : [
    		{display: '{$lang.operation}', name : 'operation', width : 200, sortable : false, align: 'center', className: 'handle'},
    		{display: '{$lang.sort_order}', name : 'sort_order', width : 50, sortable : true, align: 'center'},
			{display: '{$lang.title}', name : 'title', width : 250, sortable : true, align: 'center'},
    		{display: '{$lang.cate_name}', name : 'cate_name', width : 150, sortable : true, align: 'left'},    		
			{display: '{$lang.if_show}', name : 'if_show', width: 50, sortable : true, align : 'center'},
			{display: '{$lang.add_time}', name : 'add_time', width: 150, sortable : true, align : 'center'}   		
    		],
        buttons : [
            {display: '<i class="fa fa-plus"></i>{$lang.add_data}', name : 'add', bclass : 'add', title : '{$lang.add_data}', onpress : fg_operate },
            {display: '<i class="fa fa-trash"></i>{$lang.batch_del}', name : 'del', bclass : 'del', title : '{$lang.batch_del_for_selected}', onpress : fg_operate }
        ],
    	sortname: "sort_order",
    	sortorder: "asc",
    	title: '{$lang.article_list}'
    });
});
function fg_operate(name, bDiv) {
    if (name == 'del') {
        if($('.trSelected',bDiv).length>0){
            var itemlist = new Array();
			$('.trSelected',bDiv).each(function(){
				itemlist.push($(this).attr('data-id'));
			});
            fg_delete(itemlist,'article');
        } else {
            return false;
        }
    } else if (name == 'add') {
    	window.location.href = 'index.php?app=article&act=add';
    }
}
</script>
{include file="footer.html"} 
