{include file="header.html"}
<script type="text/javascript">
$(function(){
    $('#add_time_from').datepicker({dateFormat: 'yy-mm-dd'});
    $('#add_time_to').datepicker({dateFormat: 'yy-mm-dd'});
});
</script>
<div id="rightTop">
  <p>{$lang.deposit_manage}</p>
  <ul class="subnav">
    <li><a class="btn1" href="index.php?app=deposit">{$lang.manage}</a></li>
    <li><a class="btn1" href="index.php?app=deposit&amp;act=tradelist">{$lang.trade_manage}</a></li>
    <li><span>{$lang.withdraw_manage}</span></li>
    <li><a class="btn1" href="index.php?app=deposit&amp;act=rechargelist">{$lang.recharge_manage}</a></li>
    <li><a class="btn1" href="index.php?app=deposit&amp;act=setting">{$lang.system_setting}</a></li>
  </ul>
</div>
<div class="search-form clearfix">
    <form method="get" id="formSearch">
      <input type="hidden" name="app" value="deposit" />
      <input type="hidden" name="act" value="drawlist" />
      <select class="querySelect" name="field">{html_options options=$search_options selected=$smarty.get.field}
      </select>: <input class="queryInput" type="text" name="search_name" value="{$smarty.get.search_name}" />
      <select class="querySelect" name="status">
          <option value="">{$lang.trade_status}</option>
          {html_options options=$status_list selected=$smarty.get.status}
      </select>
      {$lang.add_time_from} : <input class="queryInput" type="text" value="{$query.add_time_from}" id="add_time_from" name="add_time_from" class="pick_date" />
      {$lang.to} : <input class="queryInput" type="text" value="{$query.add_time_to}" id="add_time_to" name="add_time_to" class="pick_date" />
      {$lang.amount_from} : <input class="queryInput2" type="text" value="{$query.amount_from}" name="amount_from" />
      {$lang.to} : <input class="queryInput2" type="text" style="width:60px;" value="{$query.amount_to}" name="amount_to" class="pick_date" />
      <input type="submit" class="formbtn" value="{$lang.query}" />
      <!--{if $filtered}-->
      <a class="formbtn formbtn1" href="index.php?app=deposit&act=drawlist">{$lang.cancel_query}</a>
      <!--{/if}-->
    </form>
</div>
<div id="flexigrid"></div>
<script type="text/javascript">
$(function(){
	var parm = $("#formSearch").serialize();
	var str = '&act=drawlist';
	parm = replace_all(parm,str,'');
	var data_url = 'index.php?app=deposit&act=get_drawlist_xml&'+parm;
    $("#flexigrid").flexigrid({
    	url: data_url,
    	colModel : [
    		{display: '{$lang.operation}', name : 'operation', width : 120, sortable : false, align: 'left', className: 'handle'},
			{display: '{$lang.add_time}', name : 'add_time', width : 150, sortable : true, align: 'center'},
			{display: '{$lang.orderId}', name : 'orderId', width : 150, sortable : true, align: 'center'},
    		{display: '{$lang.tradeNo}', name : 'tradeNo', width : 150, sortable : true, align: 'center'},
			{display: '{$lang.user_name}', name : 'user_name', width : 50, sortable : false, align: 'center'},
			{display: '{$lang.name}', name : 'name', width : 100, sortable : false, align: 'center'},
			{display: '{$lang.amount}', name : 'amount', width : 80, sortable : true, align: 'center'}, 
			{display: '手续费', name : 'charge', width : 80, sortable : true, align: 'center'}, 
    		{display: '{$lang.card_info}', name : 'card_info', width : 350, sortable : false, align: 'center'},    		
			{display: '{$lang.status}', name : 'status', width: 100, sortable : true, align : 'center'}  		
    		],
        buttons : [
            {display: '<i class="fa fa-trash"></i>{$lang.batch_del}', name : 'del', bclass : 'del', title : '{$lang.batch_del_for_selected}', onpress : fg_operate },
			{display: '<i class="fa fa-file-excel-o"></i>{$lang.export_data}', name : 'csv', bclass : 'csv', title : '{$lang.export_data_to_CVS}', onpress : fg_operate }
        ],
    	sortname: "add_time",
    	sortorder: "desc",
    	title: '{$lang.deposit_drawlist}'
    });
});
function fg_operate(name, bDiv) {
	var itemlist = new Array();
	$('.trSelected',bDiv).each(function(){
		itemlist.push($(this).attr('data-id'));
	});
	if (name == 'del') {
	   if($('.trSelected',bDiv).length==0){
		   parent.layer.alert('{$lang.no_selected_item}',{icon: 0});
			return false;
	   }
       fg_delete(itemlist,'deposit','drop_draw');
	}
	if(name == 'csv'){
		if($('.trSelected',bDiv).length==0){
		   parent.layer.confirm('{$lang.download_all_data}',{icon: 3, title:'{$lang.notice}'},function(index){
				fg_csv(itemlist,'export_draw_csv');
				parent.layer.close(index);
			},function(index){
				parent.layer.close(index);
			});
	   }else{
		   fg_csv(itemlist,'export_draw_csv');
	   }
	}
}
function fg_withdraw_verify(id,content){
	parent.layer.confirm('{$lang.withdraw_notice}'+content,{icon: 3, title:'{$lang.notice}',btn: ['{$lang.agree}', '{$lang.refuse}']},function(index){
		$.ajax({
			type: "GET",
			dataType: "json",
			url: 'index.php?app=deposit&act=withdraw_verify&tradeNo='+id,
			success: function(data){
				if (data.done){
					parent.layer.alert('{$lang.verify_ok}',{icon:1});
					$("#flexigrid").flexReload();
				} else {
					parent.layer.alert(data.msg);
				}
			}
		});
	},function(index){
		parent.layer.prompt({
			formType: 2,
			value: '',
			title: '{$lang.refuse_reason}'
		}, function(value, index, elem){
			$.ajax({
				type: "GET",
				dataType: "json",
				url: 'index.php?app=deposit&act=withdraw_refuse',
				data: "tradeNo="+id+"&remark="+value,
				success: function(data){
					if (data.done){
						parent.layer.close(index);
						$("#flexigrid").flexReload();
					} else {
						parent.layer.alert(data.msg);
					}
				}
			});
		});
		parent.layer.close(index);
	});	
}
</script>
{include file="footer.html"} 