{include file="header.html"}
<div id="rightTop">
  <p>{$lang.deposit_manage}</p>
  <ul class="subnav">
    <li><a class="btn1" href="index.php?app=deposit">{$lang.manage}</a></li>
    <li><span>{$lang.trade_manage}</span></li>
    <li><a class="btn1" href="index.php?app=deposit&amp;act=drawlist">{$lang.withdraw_manage}</a></li>
    <li><a class="btn1" href="index.php?app=deposit&amp;act=rechargelist">{$lang.recharge_manage}</a></li>
    <li><a class="btn1" href="index.php?app=deposit&amp;act=setting">{$lang.system_setting}</a></li>
  </ul>
</div>
<div class="search-form clearfix">
    <form method="get" id="formSearch">
    	  <input type="hidden" name="app" value="deposit" />
          <input type="hidden" name="act" value="tradelist" />
          对方名称:
          <input class="queryInput" type="text" name="seller_name" value="{$smarty.get.seller_name|escape}" />
          交易方名称:
          <input class="queryInput" type="text" name="buyer_name" value="{$smarty.get.buyer_name|escape}" />
          {$lang.bizOrderId}:
          <input class="queryInput" type="text" name="bizOrderId" value="{$smarty.get.bizOrderId|escape}" />
          {$lang.tradeNo}:
          <input class="queryInput" type="text" name="tradeNo" value="{$smarty.get.tradeNo|escape}" />
          <select class="querySelect" name="bizIdentity">
			<option value="">请选择交易类型...</option>
            {html_options options=$trade_type_list selected=$smarty.get.bizIdentity} 
		</select>
          <input type="submit" class="formbtn" value="{$lang.query}" />
      <!--{if $filtered}-->
      <a class="formbtn formbtn1" href="index.php?app=deposit&act=tradelist">{$lang.cancel_query}</a>
      <!--{/if}-->
    </form>
</div>
<div id="flexigrid"></div>
<script type="text/javascript">
$(function(){
	var parm = $("#formSearch").serialize();
	var str = '&act=tradelist';
	parm = replace_all(parm,str,'');
	var data_url = 'index.php?app=deposit&act=get_trade_xml&'+parm;console.log(data_url);
    $("#flexigrid").flexigrid({
    	url: data_url,
    	colModel : [
    		{display: '{$lang.operation}', name : 'operation', width : 50, sortable : false, align: 'center', className: 'handle'},
			{display: '{$lang.add_time}', name : 'add_time', width : 150, sortable : true, align: 'center'},
			{display: '{$lang.bizOrderId}', name : 'bizOrderId', width : 150, sortable : true, align: 'center'},
			{display: '{$lang.tradeNo}', name : 'tradeNo', width : 150, sortable : true, align: 'center'},
			{display: '{$lang.title}', name : 'title', width : 200, sortable : true, align: 'center'},
			{display: '{$lang.buyer_name}', name : 'buyer_name', width : 60, sortable : false, align: 'center'}, 
			{display: '{$lang.party}', name : 'party', width : 60, sortable : false, align: 'center'}, 
    		{display: '{$lang.amount}', name : 'amount', width : 100, sortable : true, align: 'center'},    		
			{display: '{$lang.status}', name : 'status', width: 150, sortable : true, align : 'center'}  		
    		],
        buttons : [
            {display: '<i class="fa fa-trash"></i>{$lang.batch_del}', name : 'del', bclass : 'del', title : '{$lang.batch_del_for_selected}', onpress : fg_operate },
			{display: '<i class="fa fa-file-excel-o"></i>{$lang.export_data}', name : 'csv', bclass : 'csv', title : '{$lang.export_data_to_CVS}', onpress : fg_operate }
        ],
    	sortname: "add_time",
    	sortorder: "desc",
    	title: '{$lang.deposit_tradelist}'
    });
});
function fg_operate(name, bDiv) {
	var itemlist = new Array();
	$('.trSelected',bDiv).each(function(){
		itemlist.push($(this).attr('data-id'));
	});
	if (name == 'del') {
	   if($('.trSelected',bDiv).length==0){
		   parent.layer.alert('{$lang.no_selected_item}',{icon: 0});
			return false;
	   }
       fg_delete(itemlist,'deposit','drop_trade');
	}
	if(name == 'csv'){
		if($('.trSelected',bDiv).length==0){
		   parent.layer.confirm('{$lang.download_all_data}',{icon: 3, title:'{$lang.notice}'},function(index){
				fg_csv(itemlist,'export_trade_csv');
				parent.layer.close(index);
			},function(index){
				parent.layer.close(index);
			});
	   }else{
		   fg_csv(itemlist,'export_trade_csv');
	   }
	}
}
</script>
{include file="footer.html"} 