{include file="header.html"}
<div id="rightTop">
	<p>{$lang.integral_manage}</p>
	<ul class="subnav">
    	<li><a class="btn1" href="index.php?app=integral">{$lang.integral_list}</a></li>
        <li><a class="btn1" href="index.php?app=integral&act=setting">{$lang.integral_setting}</a></li>
        <li><span>{$lang.record}</span></li>
    </ul>
</div>
<div id="flexigrid"></div>
<script type="text/javascript">
$(function(){
	var user_id = '{$user_info.user_id}';
	var data_url = 'index.php?app=integral&act=get_record_xml&user_id='+user_id;
    $("#flexigrid").flexigrid({
    	url: data_url,
    	colModel : [
			{display: '{$lang.type}', name : 'type', width : 200, sortable : true, align: 'center'},
			{display: '{$lang.changes}', name : 'changes', width : 100, sortable : true, align: 'center'},
			{display: '{$lang.balance}', name : 'balance', width : 100, sortable : true, align: 'center'},
			{display: '{$lang.state}', name : 'state', width : 100, sortable : true, align: 'center'},
			{display: '{$lang.add_time}', name : 'add_time', width : 200, sortable : true, align: 'center'},
			{display: '{$lang.flag}', name : 'flag', width : 300, sortable : true, align: 'center'},		
    		],
    	sortname: "add_time",
    	sortorder: "desc",
    	title: '{$lang.user_name} : <em class="red">{$user_info.user_name}</em>'+' {$lang.integral_list}'
    });
});
</script>
{include file="footer.html"} 