{include file="header.html"}
<div id="rightTop">
    <p>{$lang.recommend}</p>
    <ul class="subnav">
        <li><span>{$lang.manage}</span></li>
        <li><a class="btn1" href="index.php?app=recommend&amp;act=add">{$lang.add}</a></li>
    </ul>
</div>
<div class="search-form clearfix">
    <form method="get" id="formSearch">
          <input type="hidden" name="app" value="recommend" />
          {$lang.recom_name}:
          <input class="queryInput" type="text" name="recom_name" value="{$smarty.get.recom_name|escape}" />
          <input type="submit" class="formbtn" value="{$lang.query}" />
      <!--{if $filtered}-->
      <a class="formbtn formbtn1" href="index.php?app=recommend">{$lang.cancel_query}</a>
      <!--{/if}-->
    </form>
</div>
<div id="flexigrid"></div>
<script type="text/javascript">
$(function(){
    $("#flexigrid").flexigrid({
    	url: 'index.php?app=recommend&act=get_xml&'+$("#formSearch").serialize(),
    	colModel : [
    		{display: '{$lang.operation}', name : 'operation', width : 250, sortable : false, align: 'center', className: 'handle'},
			{display: 'ID', name : 'recom_id', width : 50, sortable : true, align: 'center'},
    		{display: '{$lang.recom_name}', name : 'recom_name', width : 200, sortable : true, align: 'center'},
			{display: '{$lang.goods_count}', name : 'goods_count', width : 100, sortable : true, align: 'center'},	
    		],
        buttons : [
            {display: '<i class="fa fa-plus"></i>{$lang.add_data}', name : 'add', bclass : 'add', title : '{$lang.add_data}', onpress : fg_operate },
            {display: '<i class="fa fa-trash"></i>{$lang.batch_del}', name : 'del', bclass : 'del', title : '{$lang.batch_del_for_selected}', onpress : fg_operate }
        ],
    	title: '{$lang.recommend_list}'
    });
});
function fg_operate(name, bDiv) {
	if(name == 'add'){
		window.location.href = 'index.php?app=recommend&act=add';
		return false;
	}
	if($('.trSelected',bDiv).length>0){
        var itemlist = new Array();
		$('.trSelected',bDiv).each(function(){
			itemlist.push($(this).attr('data-id'));
		});
		if (name == 'del') {	
            fg_delete(itemlist,'recommend');
		}
    } else {
		parent.layer.alert('{$lang.no_selected_item}',{icon: 0});
       return false;
    }
}
</script>
{include file="footer.html"} 