{include file="header.html"}
<div id="rightTop">
  <p>{$lang.user}</p>
  <ul class="subnav">
    <li><span>{$lang.manage}</span></li>
    <li><a class="btn1" href="index.php?app=user&amp;act=add">{$lang.add}</a></li>
    <!--{if in_array($smarty.get.act, array('disteam'))}-->
    <li><span>{$lang.disteam}</span></li>
    <!--{else}-->
    <li><a class="btn1" href="index.php?app=user&act=disteam">{$lang.disteam}</a></li>
    <!--{/if}-->
  </ul>
</div>
<div class="search-form clearfix">
    <form method="get" id="formSearch">
    	  <input type="hidden" name="app" value="user" />
          {$lang.user_name}:
          <input class="queryInput" type="text" name="user_name" value="{$smarty.get.user_name|escape}" />
          {$lang.real_name}:
          <input class="queryInput" type="text" name="real_name" value="{$smarty.get.real_name|escape}" />
          {$lang.email}:
          <input class="queryInput" type="text" name="email" value="{$smarty.get.email|escape}" />
          {$lang.phone_mob}:
          <input class="queryInput" type="text" name="phone_mob" value="{$smarty.get.phone_mob|escape}" />
          <input type="submit" class="formbtn" value="{$lang.query}" />
      <!--{if $filtered}-->
      <a class="formbtn formbtn1" href="index.php?app=user">{$lang.cancel_query}</a>
      <!--{/if}-->
    </form>
</div>
<div id="flexigrid"></div>
<script type="text/javascript">
$(function(){
	var data_url = 'index.php?app=user&act=get_xml&'+$("#formSearch").serialize();
    $("#flexigrid").flexigrid({
    	url: data_url,
    	colModel : [
    		{display: '{$lang.operation}', name : 'operation', width : 200, sortable : false, align: 'center', className: 'handle'},
			{display: '{$lang.user_name}', name : 'user_name', width : 100, sortable : true, align: 'center'},
			{display: '{$lang.real_name}', name : 'real_name', width : 100, sortable : true, align: 'center'},
			{display: '上级', name : 'refer_name', width : 100, sortable : true, align: 'center'},
    		{display: '{$lang.email}', name : 'email', width : 150, sortable : true, align: 'center'},
			{display: '{$lang.phone_mob}', name : 'phone_mob', width : 100, sortable : true, align: 'center'},
			{display: '{$lang.reg_time}', name : 'reg_time', width: 100, sortable : true, align : 'center'},    		
			{display: '{$lang.last_login}', name : 'last_login', width: 150, sortable : true, align : 'center'},
			{display: '{$lang.last_ip}', name : 'last_ip', width: 100, sortable : true, align : 'center'},  
			{display: '{$lang.logins}', name : 'logins', width: 100, sortable : true, align : 'center'},
			{display: '{$lang.if_admin}', name : 'if_admin', width: 100, sortable : true, align : 'center'} 		
    		],
        buttons : [
            {display: '<i class="fa fa-plus"></i>{$lang.add_data}', name : 'add', bclass : 'add', title : '{$lang.add_data}', onpress : fg_operate },
            {display: '<i class="fa fa-trash"></i>{$lang.batch_del}', name : 'del', bclass : 'del', title : '{$lang.batch_del_for_selected}', onpress : fg_operate },
			{display: '<i class="fa fa-file-excel-o"></i>{$lang.export_data}', name : 'csv', bclass : 'csv', title : '{$lang.export_data_to_CVS}', onpress : fg_operate }	
        ],
    	title: '{$lang.user_list}'
    });
});
function fg_operate(name, bDiv) {
	if(name == 'add'){
		window.location.href = 'index.php?app=user&act=add';
		return false;
	}
	var itemlist = new Array();
	$('.trSelected',bDiv).each(function(){
		itemlist.push($(this).attr('data-id'));
	});
	if (name == 'del') {
	   if($('.trSelected',bDiv).length==0){
		   parent.layer.alert('{$lang.no_selected_item}',{icon: 0});
			return false;
	   }
       fg_delete(itemlist,'user');
	}
	if(name == 'csv'){
		if($('.trSelected',bDiv).length==0){
		   parent.layer.confirm('{$lang.download_all_data}',{icon: 3, title:'{$lang.notice}'},function(index){
				fg_csv(itemlist);
				parent.layer.close(index);
			},function(index){
				parent.layer.close(index);
			});
	   }else{
		   fg_csv(itemlist);
	   }
	}
}
</script>
{include file="footer.html"} 